//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Jost";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1190;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$additionalColor: #fff;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
  padding: 0 10px;
	// @media (max-width: $md1+px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================
.goods {
  padding: 100px 0px 100px 0px;
		// .goods__content
		&__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
		}
}
.item-goods {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  text-align: center;
  margin: 0px 0px 40px 0px;
  @media (any-hover: hover) {
    &:hover {
      &::before {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0,0,0) scale(1);
      top: -5%;
    }
    & .item-goods__other-info {
      opacity: 1;
      visibility: visible;
      transform: translateY(5%);
    }
    & svg {
      opacity: 1;
      visibility: visible;
    }
    }
  }
  &::before {
    z-index: -1;
    width: 100%;
    height: 110%;
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    transform: translate3d(0,0,0) scale(.5);
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    transition: all 0.3s ease 0s;
  }
  @media (max-width: 991.98px) {
    flex: 0 0 33.333%;
  }
  @media (max-width: 767.98px) {
    flex: 0 0 50%;
  }
  @media (max-width: 599.98px) {
    flex: 0 0 100%;
  }
		// .item-goods__img-wrapper
		&__img-wrapper {
      padding: 75.215% 0px 0px 0px;
      width: 90%;
      margin: 0px auto 20px;
      & svg {
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 25px;
        height: 25px;
        fill: #e3e1f3;
        transition: opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s, fill 0.3s ease-in-out 0s;
        &:hover {
          fill: #FF6F61;
        }
      }
		}
		// .item-goods__content
		&__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 85%;
      margin: 0 auto;
		}
		// .item-goods__deal
		&__deal {
      display: inline-flex;
      margin: 0px 0px 10px 0px;
      color: #FF6F61;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      cursor: default;
      &.new {
        color: #1bbc9b;
      }
      &.hit {
        color: #792c9b;
      }
		}
		// .item-goods__top
		&__top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0px 0px 10px 0px;
		}
		// .item-goods__product-code
		&__product-code {
      margin: 0px 0px 10px 0px;
      font-size: 15px;
      color: rgb(153, 153, 153);
      cursor: default;
		}
		// .item-goods__stars
		&__stars {
      color: rgb(121, 44, 155);
      cursor: default;
		}
		// .item-goods__feedbacks
		&__feedbacks {
      color: $mainColor;
      text-decoration: underline;
		}
		// .item-goods__title
		&__title {
      margin: 0px 0px 2.5px 0px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 13px;
      line-height: 19.5px;
      letter-spacing: 0.6px;
      color: $mainColor;
      transition: color 0.3s ease 0s;
      &:hover, &:focus {
        color: #FF6F61;
      }
		}
		// .item-goods__brand
		&__brand {
      margin: 0px 0px 5px 0px;
      color: rgb(153, 153, 153);
      line-height: 17px;
      transition: color 0.3s ease 0s;
      &:hover, &:focus {
        color: #FF6F61;
      }
		}
		// .item-goods__price
		&__price {
      margin: 0px 0px 10px 0px;
      font-weight: 500;
      cursor: default;
      @media (max-width: 991.98px) {
        margin: 0;
      }
      // .item-good__price_old
      &_old {
        margin: 0px 7px 0px 0px;
        font-size: 13px;
        line-height: 14px;
        color: rgb(153, 153, 153);
        text-decoration: line-through;
      }
			// .item-good__price_current
			&_current {
        font-size: 14px;
        line-height: 22px;
			}
			// .item-goods__price_number
			&_number {
			}
			// .item-goods__price_currency
			&_currency {
			}
		}
		// .item-goods__other-info
		&__other-info {
      transform: translateY(25%);
      opacity: 0;
      visibility: hidden;
      width: 100%;
      transition: all 0.3s ease 0s;
      @media (max-width: 991.98px) {
        display: none;
      }
		}
		// .item-good__variants
		&__variants {
      margin: 0px 0px 15px 0px;
		}
		// .item-goods__variant
		&__variant {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0 17.5px;
      height: 35px;
      border: 1px solid #FF6F61;
      color: #FF6F61;
      text-transform: uppercase;
      transition: border .3s,color .3s;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &._checked {
        background-color: #FF6F61;
        color: #fff;
      }
      // .item-goods__variant_select
			&_select {
			}
      // .item-goods__variant_popup
			&_popup {
        display: flex;
        align-items: center;
        height: 35px;
        padding: 0 25px 0 5px;
        border: 1px solid #ccc;
        color: $mainColor;
        background: url(../img/icons/select.svg) no-repeat 95% center / 11px;
        & img {
          margin: 0px 5px 0px 0px;
        }
        & span {
          white-space: nowrap;
          overflow: hidden;
        }
			}
		}
		// .item-goods__buttons
		&__buttons {
      display: flex;
      justify-content: space-between;
			// .item-goods__buttons_formal
			&_formal {
        flex: 0 0 45%;
        line-height: 2.25;
        border: 1px solid #FF6F61;
        background-color: #FF6F61;
        color: #fff;
        transition: color 0.3s ease 0s, background-color 0.3s ease 0s, transform 0.3s ease 0s;
        &:hover {
          background-color: #fff;
          color: #FF6F61;
        }
        &:active {
          transform: scale(0.9);
        }
			}
			// .item-goods__buttons_buy
			&_buy {
        flex: 0 0 45%;
        line-height: 2.25;
        border: 1px solid #FF6F61;
        background-color: #FF6F61;
        color: #fff;
        transition: color 0.3s ease 0s, background-color 0.3s ease 0s, transform 0.3s ease 0s;
        &:hover {
          background-color: #fff;
          color: #FF6F61;
        }
        &:active {
          transform: scale(0.9);
        }
			}
		}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
.product {
  padding: 50px 0;
		// .product__content
		&__content {
      max-width: 1360px;
		}
}

.product-item {
  display: flex;
  justify-content: space-between;
		// .product-item__description
		&__description {
      display: flex;
      flex-direction: column;
      flex: 0 0 27%;
      margin: 30px 0px 0px 0px;
		}
		// .product-item__brand-links
		&__brand-links {
      margin: 0px 0px 2px 0px;
		}
		// .product-item__brand-link
		&__brand-link {
			// .product-item__brand-link_brand
			&_brand {
        color: $mainColor;
			}
			// .product-item__brand-link_series
			&_series {
        color: #999999;
			}
		}
		// .product-item__title
		&__title {
      margin: 0px 0px 2px 0px;
      font-size: 24px;
      line-height: 36px;
		}
		// .product-item__category
		&__category {
      margin: 0px 0px 18px 0px;
      font-size: 15px;
      line-height: 25.5px;
      color: rgb(153, 153, 153);;
		}
		// .product-item__social
		&__social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px 0px 30px 0px;
		}
		// .product-item__label
		&__label {
      border-width: 1em 0.5em 0.4em;
      border-style: solid;
      border-color: transparent;
      &._sale {
        border-color: #ff6f61 #ff6f61 transparent;
      }
      &._hit {
        border-color: #792c9b #792c9b transparent;
      }
      &._new {
        border-color: #1bbc9b #1bbc9b transparent;
      }
		}
		// .product-item__star-list
		&__star-list {
      color: #FF6F61;
		}
		// .product-item__rating
		&__rating {
      display: flex;
      color: #FF6F61;
      border-bottom: 1px solid rgb(216, 216, 216);
      font-size: 15px;
		}
		// .product-item__text-info
		&__text-info {
      margin: 0px 0px 15px 0px;
      line-height: 22.5px;
      color: $mainColor;
      & strong {
        font-weight: 600;
      }
		}
		// .product-item__to-description-link
		&__to-description-link {
      display: inline-flex;
      width: fit-content;
      font-size: 15px;
      border-bottom: 1px solid rgb(216, 216, 216);
      color: $mainColor;
      &:active {
        color: #FF6F61;
      }
		}
		// .product-item__gallery
		&__gallery {
      flex: 0 0 34%;
      margin: 0 40px;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
      }
      & .product-item__for{
        margin: 0px 0px 40px 0px;
        & li {
          height: 380px;
          & a {
            cursor: url(https://makeup.com.ua/theme/site/img/zoom-in.cur), zoom-in;
          }
        }
      }
      &__img-big {
      }
      & .product-item__nav{
        & li {
          width: 60px;
          height: 60px;
          margin: 0 10px;
          cursor: pointer;
        }
      }
		}
		// .product-item__buy
		&__buy {
      display: flex;
      flex-direction: column;
      flex: 0 0 25%;
      margin: 30px 0px 0px 0px;
		}
		// .product-item__price-old
		&__price-old {
      color: rgb(153, 153, 153);
      text-decoration: line-through;
		}
		// .product-item__price-current
		&__price-current {
      margin: 0px 0px 10px 0px;
      font-size: 24px;
      line-height: 41px;
		}
		// .product-item__select-wrapper
		&__select-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 160px;
      margin: 0px 0px 15px 0px;
		}
		// .product-item__product-code
		&__product-code {
      font-size: 15px;
      line-height: 22px;
		}
		// .product-item__status
		&__status {
      margin: 0px 0px 20px 0px;
      line-height: 22px;
		}
		// .product-item__instock
		&__instock {
      color: #1bbc9b;
		}
		// .product-item__notavailible
		&__notavailible {
      color: #792C9B;
		}
		// .product-item__buy-btn
		&__buy-btn {
      max-width: 160px;
      height: 35px;
      margin: 0px 0px 20px 0px;
      border: 1px solid #FF6F61;
      background-color: #FF6F61;
      color: #fff;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: #fff;
        color: #FF6F61;
      }
		}
		// .product-item__needed-color-link
		&__needed-color-link {
      width: fit-content;
      margin: 0px 0px 20px 0px;
      border-bottom: 1px solid rgb(216, 216, 216);
      color: $mainColor;
      &:active {
        color: #FF6F61;
      }
		}
		// .product-item__delivery
		&__delivery {
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;
      margin: 0px 0px 10px 0px;
      color: #FF6F61;
      cursor: pointer;
      &._active {
        & .productDelivery {
          opacity: 1;
          visibility: visible;
        }
      }
      & img {
        margin: 0px 10px 0px 0px;
        width: 25px;
      }
      & figcaption {
        border-bottom: 1px solid rgb(226, 215, 232);
      }
		}
		// .product-item__hidden
		&__hidden {
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width: 370px;
      margin: 10px 0px 0px 0px;
      padding: 22px 28px;
      color: #333;
      top: 100%;
      left: -78px;
      border: 2px solid #FF6F61;
      font-size: 14.5px;
      line-height: 1.9;
      background-color: #fff;
      white-space: normal;
      transition: opacity .3s,visibility .3s;
      &::before {
        border-left: 2px solid #FF6F61;
        border-top: 2px solid #FF6F61;
        background: #fff;
        transform: rotate(45deg);
        content: '';
        position: absolute;
        left: 85px;
        top: -5px;
        width: 6px;
        height: 6px;
      }
		}
		// .product-item__warranty
		&__warranty {
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;
      color: #FF6F61;
      cursor: pointer;
      &._active {
        & .productWarranty {
          opacity: 1;
          visibility: visible;
        }
      }
      & img {
        margin: 0px 10px 0px 0px;
        width: 23px;
      }
      & figcaption {
        border-bottom: 1px solid rgb(226, 215, 232);
      }
		}
}
